name: test
on:
  push:
    branches: ['*']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m venv venv
          . venv/bin/activate
          pip install --upgrade pip
          pip install -e .[test]
      - name: Run linters
        run: |
          . venv/bin/activate
          black . --check
          ruff . --no-fix
          mypy .
      - name: Run tests
        run: |
          . venv/bin/activate
          pytest
